/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global font for Marathi (clear & beautiful) */
body {
  font-family: "Noto Sans Devanagari", sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}
